{% extends 'base.html' %}

{% block title %}Project{% endblock %}

{% block header %}
    <header class="text-gray-600 body-font border-b-2 border-indigo-100">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
              <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                  <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Crowdfunding</span>
              </a>
              <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                <a href="{% url 'startups' %}" class="cursor-pointer mr-5 hover:text-gray-900">Startups</a>
                <a class="cursor-pointer mr-5 hover:text-gray-900">About us</a>
                <a class="cursor-pointer mr-5 hover:text-gray-900">Investors</a>
              </nav>
                {% if is_authenticated %}
                    <div class="dropdown inline-block relative">
                    <button class="bg-indigo-0 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
                      <span class="mr-1"> {{username}} </span>
                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 w-full">
                      <li><a class=" bg-gray-100 hover:bg-gray-200 py-2 px-4 block whitespace-no-wrap" href="{% url 'myroom' %}">My Room</a></li>
                      <li><a class="bg-red-500 hover:bg-red-600 text-white rounded-b-lg py-2 px-4 block whitespace-no-wrap" href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                  </div>
                {% else %}
                  <a href="{% url 'login' %}" class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0 mr-4">
                    Log in
                  </a>
                  <a class="inline-flex items-center bg-indigo-500 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-600 rounded text-base text-slate-50 mt-4 md:mt-0">
                    Sign up
                  </a>
                {% endif %}
            </div>
          </header>
{% endblock %}

{% block body %}
<section class="mx-auto">
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="grid gap-5 row-gap-10 lg:grid-cols-2">
    <div class="flex flex-col justify-center">
      <div class="max-w-xl mb-6">
        <h2 class="max-w-lg mb-3 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
          {{project.title}}
        </h2>
          <span class="inline-flex items-center justify-center mb-10 px-2 py-1 text-xs font-medium leading-none text-indigo-400 border border-indigo-400 rounded">{{ project.category }}</span>
        <p class="text-base text-gray-700 md:text-lg"> {{project.description}}
        </p>
      </div>
         <span class="title-font mt-10  text-2xl text-gray-900">Required amount: <span class="font-medium text-indigo-600">{{project.initial_capital}}$</span></span>

         <div class="mt-5 pb-5 border-b-2 border-gray-100 mb-5">
                <div class="flex justify-between mb-1">
                  <span class="text-base font-medium text-indigo-600 dark:text-white">Collected amount</span>
                  <span class="text-sm font-medium text-indigo-600 dark:text-white">{{ project.percentage }}%</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                  <div class="bg-indigo-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: {{project.percentage}}%">{{project.accumulated_capital}}$</div>
                </div>
         </div>
        <a href="#" class="text-white text-center text-2xl  bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded">Invest startup</a>


    </div>
    <div>
      <img class="object-cover w-full h-150 rounded shadow-lg lg:h-150" src="{{ project.image.url }}" alt="a" />
    </div>
  </div>
</div>
</section>


{% endblock %}
