{% extends 'base.html' %}

{% block title %}Project{% endblock %}

{% block body %}

<section class="mx-auto">
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="grid gap-5 row-gap-10 lg:grid-cols-2">
    <div class="flex flex-col justify-center">
      <div class="max-w-xl mb-6">
        <h2 class="max-w-lg mb-3 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
          {{project.title}}
        </h2>
          <span class="inline-flex items-center justify-center mb-10 px-2 py-1 text-xs font-medium leading-none text-indigo-400 border border-indigo-400 rounded">{{ project.category }}</span>
        <p class="text-base text-gray-700 md:text-lg"> {{project.description}}
        </p>
      </div>
         <span class="title-font mt-10  text-2xl text-gray-900">Required amount: <span class="font-medium text-indigo-600">{{project.initial_capital}}$</span></span>

         <div class="mt-5 pb-5 border-b-2 border-gray-100 mb-5">
                <div class="flex justify-between mb-1">
                  <span class="text-base font-medium text-indigo-600 dark:text-white">Collected amount</span>
                  <span class="text-sm font-medium text-indigo-600 dark:text-white">{{ project.percentage }}%</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                  <div class="bg-indigo-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: {{project.percentage}}%">{{project.accumulated_capital}}$</div>
                </div>
         </div>
        <a href="#" class="text-white text-center text-2xl  bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded">Invest startup</a>


    </div>
    <div>
      <img class="object-cover w-full h-150 rounded shadow-lg lg:h-150" src="{{ project.image.url }}" alt="a" />
    </div>
  </div>
</div>
</section>

{% endblock %}
